<% @posts.each do |post|%>
	<h3><%= link_to post.title, post%></h3>
	<p><%=post.created_at.month.to_s+'.'+post.created_at.day.to_s+'.'+post.created_at.year.to_s%></p>
	<%=post.content.split[0,200].join(' ')%>
	<% if post.content.split.length>200 %>
		<p><%= link_to "Read more", post %></p>
	<% end %>
<% end %>
<p><%= link_to "More Articles...", posts_path%>