<% @posts.each do |post|%>
	<p>
		<strong><%= link_to post.title, post%></strong>
		<font size=-1pt>
		  <%=post.created_at.month.to_s+'.'+post.created_at.day.to_s+'.'+post.created_at.year.to_s%>
		</font>
		<br />
		<%=post.content.split[0,200].join(' ').html_safe%>
		<% if post.content.split.length>200 %>
			<%= link_to "... (Read more)", post %>
		<% end %>
		<br />
	</p>
<% end %>
<p><%= link_to "More Articles...", posts_path%>