<table>
<% @posts.each do |post| %>
  <tr>
	<%@post_time=post.created_at.month.to_s+'.'+post.created_at.day.to_s+'.'+post.created_at.year.to_s%>
	<td><%= link_to @post_time, post%></td>
    <td><%= link_to post.title, post %></td>
	<% if user_signed_in? %>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
	<%end%>
  </tr>
<% end %>
</table>

<br />

<% if user_signed_in?%>
<%= link_to 'New Post', new_post_path %>
<%end%>