<center>
<p><a href='mailto:npcompleteheart@gmail.com'> npcompleteheart at gmail dot com</a></p>
<%= link_to image_tag("google-plus-3-icon.png"), "http://plus.google.com/117549740272673061302/" %>
<%= link_to image_tag("twitter.png"), "http://www.twitter.com/adamrpah" %>
<%= link_to image_tag("linked_in.png"), "http://www.linkedin.com/in/adampah/" %>
<br />
<%= link_to image_tag("GitHub_Icon.png"), "http://www.github.com/adamrpah/"%>
<%= link_to image_tag("Bitbucket.png"), "http://www.bitbucket.org/adamrpah/"%>
</center>