<!DOCTYPE html>
<html>
  <head>
    <title>NP Complete Heart | <%= @title %></title>
    <%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets'%>
  </head>
<body style>
<body>
	<div class="container">
  		<%= render 'layouts/header'%>
 	</div>
	<section class = "round">
    <%= yield %>
	</section>
  </body>
</html>
