<!DOCTYPE html>
<html>
  <head>
    <title>NP Complete Heart | <%= @title %></title>
    <%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets'%>
  </head>
<body style>
<body>
	<div class="roundcontainer">
  		<%= render 'layouts/header'%>
	</div>
	<div class ="container">
		<section class = "round">
	    <%= yield %>
		</section>
	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
  </body>
</html>
